h1{font-family: 'Libre Baskerville', serif;}
img{width:100%; border: 5px solid white; align-items: center;}
html{background-color: black;}
h1{color: white;text-align: center;}
p{color: white;text-align: center;}
div{width: 50%;margin-left: 25%; margin-top: 70px;}
 